{% extends 'base.html' %}
{% load staticfiles %}

{% block left_content %}

    <div class="topnews">
      <h2>{{ username }}  的文章</h2>

    {% for article in article_list %}
    <div class="blogs">
            <ul>
                      <h3><a href="{% url 'article' %}?id={{ article.id }}">{{ article.title }}</a></h3>
                                <p>{{ article.desc }}</p>
                                 <p class="autor"><span class="lm f_l">{% for tag in article.tag.all %}<a href="/">{{ tag.name }}</a>{% endfor %}</span><span class="dtime f_l">{{ article.date_publish | date:'Y-m-d' }}</span><span class="viewnum f_r">
                                 浏览（{{ article.click_count }}）</span><span class="pingl f_r">评论（{{ article.comment_set.all.count }}）</span></p>
            </ul>
    </div>
    {% endfor %}
    </div>
    
    {% include 'pagination.html' %}
   
{% endblock %}